<h1> This is <%= @blog.id %> Blog</h1>
    <p>
    <%= @blog.title %>
    </p>
    <span> Body :  </span>
    <p>
    <%= @blog.body %>
    </p>

  <%= link_to "Edit", edit_blog_path(@blog) %></li>

  <%= link_to "Destroy", blog_path(@blog), method: :delete %>

  <%= link_to blog_status(@blog), publish_blog_path(@blog) %>

<h2>Comment</h2>
<%= render @blog.comments %>
<br>
<h2>Add comment:</h2>
<%= render 'comments/form' %>